<h1><%= @artist.id ? 'Edit' : 'Create' %></h1>
<hr />
<%= form_for @artist do |f| %>
  <%= f.label :artist_name %>
  <%= f.text_field :artist_name required: true, autofocus: true %>
  <br />
   <%= f.label :song_name %>
  <%= f.text_field :song_name required: true, autofocus: true %>
  <%= f.submit %>
<% end %>