<h1><%= @artist.artist_name %> </h1>
<p><%= @artist.song_name %></p>
<%= link_to 'Delete a Song', billboard_artist_path(@billboard), method: :delete %>
<%= link_to 'Add A Song', new_billboard_artist_path(@billboard) %>
<%= link_to 'Edit A Song', edit_billboard_artist_path(@billboard, @artist) %>
<%= link_to 'Remove A Song', billboard_artists_path, method: :delete %>
<%= link_to 'Back To Billboard', billboard_path %>
